<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<display-name>projeto-jsf</display-name>

	<context-param>
		<param-name>BootsFaces_USETHEME</param-name>
		<param-value>default</param-value>
	</context-param>

	<welcome-file-list>
		<welcome-file>Login.xhtml</welcome-file>
	</welcome-file-list>
	<filter>
		<filter-name>LoginFilter</filter-name>
		<filter-class>br.com.gabrielfereira.filter.LoginFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>LoginFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.xhtml</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PessoaImagem</servlet-name>
		<url-pattern>/PessoaImagem</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>PessoaImagem</display-name>
		<servlet-name>PessoaImagem</servlet-name>
		<servlet-class>br.com.gabrielfereira.servlet.PessoaImagem</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PessoaImagem</servlet-name>
		<url-pattern>/PessoaImagem</url-pattern>
	</servlet-mapping>
</web-app>